@mainColor: blue;

@import "pizza/pizza-card";
@import "pizza/order-list";

@media (min-width: 1200px) {
  .pizza-list{
    margin: 0 6rem;
  }
}

.main-container{
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;

  .left-container{
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 100vh;
  }

  .right-container{
    padding: 0;
  }
}




.bottom-logo{
  text-align: center;
  color: white;
  height: 80px;
  width: 80px;
  position: fixed;
  bottom: 0;
  background-color: #393838;
  opacity: 1;
}
