<% include common/mainHeader.ejs %>
<% include common/header.ejs %>

<div class="buy-info">
    <div class="top-part">

    </div>
    <div id="cart" class="main-part">
    </div>
    <div class="bottom-part">
        <div class="row sum">
        </div>
        <div class="col-xs-12 lastcol">
            <a href="order.html" class="order_button"><span class="btn btn-warning button">Замовити</span></a>
        </div>
    </div>
</div>
<div class="main-pizza">
    <div class="inner-container">
        <div class="menu">
            <div class="title">
            </div>
            <div class="all-menu">

            </div>
        </div>
        <div class="row" id="pizza_list">
        </div>
    </div>
</div>

<% include common/footer.ejs %>
<% include common/mainFooter.ejs %>