<% include common/header.ejs %>

<div class="main-pizza">
    <div class="inner-container">
        <div class="menu">
            <div class="title">

            </div>
            <div class="all-menu">

            </div>
        </div>
        <div class="row" id="pizza_list">
        </div>
    </div>
</div>

<% include common/footer.ejs %>