<div class="top-panel">
    <div class="row top-info">
        <div class="col-lg-3 visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block number">
            (044) 222 5 222
        </div>
        <div class="col-lg-3 visible-lg-inline-block visible-md-inline-block time-work">
            24 години/7 днів на тиждень
        </div>
        <div class="col-lg-3 visible-lg-inline-block price-deliver">
            Безкоштовна доставка піци
        </div>
        <span class="btn btn-warning enter">Ввійти</span>
    </div>
    <div class="pizza-link">
        <a class="hidden-xs" href="/">Піца</a>
    </div>
    <div class="top-discount">
        <a href="/">PIZZA</a>
        KMA
        <img id="discount" src="assets/images/discount.svg">
    </div>
</div>