<div class="right-panel">
    <div class="center-part" id = "cart">
        <div class="order-one ng-scope"></div>
    </div>
    <div class="top-part">
        <div class="top-order-title">
            <span class="order-list-title">
                Замовлення
                <span class="badge orange order-count">0</span>
            </span>
            <button class="clear-order" >Очистити замовлення</button>
        </div>
    </div>
    <div class="bottom-part">
        <div class="order-state">
            <span class="sum-title">
                Сума замовлення
            </span>
            <span class="sum-number">
                0 грн.
            </span>
            <div class="do-order-button">
                <button type="button" class="btn btn-warning btn-lg btn-block button-order" onclick="window.location.href='/order.html'">
                    Замовити
                </button>
            </div>
        </div>
    </div>
</div>