<div class="top-panel">
    <div class="headers">
        <div class="top-header">
            <div class="main-header-top-item phone-number
                visible-sm-inline-block visible-lg-inline-block visible-md-inline-block">
                (044) 222 5 222
            </div>
            <div class="main-header-top-item work-days visible-lg-inline-block visible-md-inline-block">
                24 години/ 7 днів на тиждень
            </div>
            <div class="main-header-top-item delivery visible-lg-inline-block">
                Безкоштовна доставка піци
            </div>
            <span class="btn btn-warning hidden-xs sign-in">Ввійти</span>
        </div>
        <div class="down-header">
            <span class="pizza-page hidden-xs">Піца</span>
        </div>
    </div>
</div>