<div class="row">
    <div class="col-xs-7">
        <h3 id="top-h3">Замовлення <span class="badge oval"></span> </h3>
    </div>
    <div class="col-xs-5">
        <p id="top-p">Очистити замовлення</p>
    </div>
</div>