<ul class="nav nav-pills types">
    <li class="active all"><a href="#">Усі</a></li>
    <li class="meat"><a href="#">М'ясні</a></li>
    <li class="pineapple"><a href="#">З ананасами</a></li>
    <li class="mushroom"><a href="#">З грибами</a></li>
    <li class="ocean"><a href="#">З морепродуктами</a></li>
    <li class="vega"><a href="#">Вега</a></li>
</ul>